.projects-container {
  font-family: "Jazmin", sans-serif;
}

.projects-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 2rem 0;
  border-bottom: 2px solid #f0f0f0;
}

.header-line {
  background-color: #000;
  width: 30px;
  height: 2px;
}

.projects-header {
  font-size: 1.5vw;
}

.project-section {
  border-bottom: 2px solid #f0f0f0;
  padding: 4rem 2rem;
}

.project-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
}

.project-content.image-left {
  flex-direction: row-reverse;
}

.project-info {
  flex: 1;
}

.project-subtitle {
  font-size: 20px;
  color: #747474;
}

.project-title {
  font-size: 30px;
  margin-bottom: 2rem;
}

.project-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.tag {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.view-work-btn {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none;
  font-family: "Jazmin", sans-serif;
}

.view-work-btn:hover {
  background-color: #82f5cb;
  color: #000;
}

.project-images {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #fff;
  elevation: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 5px;
}

.project-images img {
  width: 30%;
  max-width: 200px;
  height: auto;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .project-content {
    flex-direction: column;
  }

  .project-content.image-left {
    flex-direction: column;
  }

  .project-images {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .project-section {
    padding: 2rem 1rem;
  }

  .project-title {
    font-size: 24px;
  }

  .project-images img {
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .projects-header {
    font-size: 20px;
  }

  .project-subtitle {
    font-size: 16px;
  }

  .project-title {
    font-size: 20px;
  }

  .tag {
    font-size: 14px;
  }

  .project-images {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project-images img {
    width: 45%;
    max-width: 150px;
  }
}
