*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    background-color: #000000;
}

.container-1
{
    
    background-image: url('./back1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        width: 100vw;
    }

.container-1>h1{
    color: #fff;
    text-align: center;
    position: relative;
    top: 10rem;
    font-family: cursive;
    font-size:5rem;
}

.container-1>h2
{
    color: #fff;
        text-align: center;
        position: relative;
        top: 11rem;
        font-family:sans-serif;
        font-size: large;
        line-height: 2rem;
}

.container-2 {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    
}

.profile {
    margin-top: 3rem;
    height: 200px;
    width: 200px;
    background-image: url('./Picture1.png');
    background-size: cover;
}

.container-2>div:nth-child(2)
{
    color: #fff;
        text-align: center;
        font-family: cursive;
        font-size: 4rem;
}

.container-2>div:nth-child(3)
{
        color: #fff;
        text-align: left;
        font-family: sans-serif;
        font-size: large;
        line-height: 2rem;
        text-align: center;
        padding: 1.5rem;
}

.container-2>div:nth-child(4)
{
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 5px;
}

.grid
{
    height: 100%;
    min-height: 100vh;
    background-color: black;
}


.container-3
{
    height: 100vh;
    display: grid;
    padding: 3rem;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    background-color: rgb(0, 0, 0);
    gap: 3rem;
    grid-template-areas: "nav nav"
                "img1 cont1"
                "img2 cont2"
                "foot foot"

}

.nav
{
    
    grid-area: nav;
    color: #fff;
    text-align: center;
    font-family: cursive;
    font-size: 4rem;
}

.cont1
{
    grid-area: cont1;
    color: #fff;
    text-align: left;
    font-family: sans-serif;
    font-size: large;
    text-align: left;
    padding: 1.5rem;
    line-height: 1.2;
}
.img1
{
    background-image: url('./Picture2.png');
    background-size: cover;
    background-position: center;
    grid-area: img1;
}
.cont2
{
    grid-area: cont2;
    color: #fff;
    font-family: sans-serif;
    font-size: large;
    text-align: left;
    padding: 1.5rem;
    text-align: left;
    line-height: 1.2;
}
.img2
{
    background-image: url('./Picture3.png');
    background-size: cover;
    background-position: center;
    grid-template-columns: img2;
}
.foot
{
    color: #fff;
    grid-area: foot;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 5px;
}

.container-4
{
    background-color: black;
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}

.container-4>:nth-child(1)
{
    color: #fff;
    text-align: center;
    font-family: cursive;
    font-size: 4rem;
}
.container-4>:nth-child(2)
{
        color: #fff;
        text-align: left;
        font-family: sans-serif;
        font-size: large;
        line-height: 2rem;
        text-align: center;
        padding: 1.5rem;
        
}

.container-4>:nth-child(3)
{
    height: 30px;
    padding: 1.5rem;
}

.container-4>button
{
    height: 40px;
    width: 140px;
    color: #fff;
    font-size: large;
    background-color: rgb(37, 37, 37);
    border: 2px solid white;
    border-radius: 10px;
}

.footer
{
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    margin-bottom: 0px;
    height: 150px;
    background-color: #000000;
    border-top: 2px rgb(255, 255, 255) solid;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer>div>a
{
    text-decoration: none;
    color: #fff;
    font-size: x-large;

}



@media (max-width: 900px) {
.container-1>h1  {
        font-size: xx-large;
    }

    .container-1 {
        background-position: unset;
    }

    .container-2>div:nth-child(2) {
        font-size: xx-large;
    }


    .container-3{
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 2fr 1fr 2fr 1fr 0.25fr;
        background-color: rgb(0, 0, 0);
        gap: 10px;
        grid-template-areas: "nav"
                "img1" 
                "cont1"
                "img2" 
                "cont2"
                "foot"
    }

    .nav{
        font-size:xx-large ;
    }
    .cont1{
        font-size: small;
    }
    .cont2{
        font-size: small;
    }

    .img1{
        background-size:cover;
        background-repeat: no-repeat;
    }

    .container-4>div:nth-child(1)
    {
        font-size: xx-large;
    }

    .container-4>:nth-child(2) {
            
            font-size: small;
     }

     .footer>div>a {
             text-decoration: none;
             color: #fff;
             font-size: large;
    
     }
    
       
}



.pencap
{
    display: flex;
    row-gap : 200rem;
}
.cap
{
    z-index: 2;
    display: inline-block;
    width:250px;
    background-image: url('./cap.png');
    background-size: cover;
    position: absolute;
    top : 10%;
    left :6rem;
    align-self: center;
}

.pen
{
    display: inline-block;
    position: absolute;
    background-image: url('./pen.png');
    background-size: cover;
    top: 10%;
    right: 6rem;
    width: 780px;
    background-color: transparent;
}