@font-face {
  font-family: "Jazmin";
  src: url("./assets/fonts/Jazmin-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JazminBold";
  src: url("./assets/fonts/Jazmin-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "JazminSemiBold";
  src: url("./assets/fonts/JazminAlt-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

/* Add more font-face rules for other font variations if needed */
