.container {
  position: relative;
  height: 70vh;
  width: 70vw;
  overflow: hidden;
  background-color: #000;
}

.shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.shape {
  position: absolute;
  border-radius: 50%;
}

.shape-1 {
  background-color: #20c997;
  width: 50vw;
  height: 50vw;
  margin: -25vw 0 0 -25vw;
}

.shape-2 {
  background-color: #a29bfe;
  width: 33.846vw; /* 440px converted to vw */
  height: 33.846vw;
  margin: -16.923vw 0 0 -16.923vw;
}

.shape-3 {
  background-color: #ff6b6b;
  width: 20.769vw; /* 270px converted to vw */
  height: 20.769vw;
  margin: -10.385vw 0 0 -10.385vw;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 70vw;
  background-color: white;
  mix-blend-mode: screen;
}

.cursor {
  position: fixed;
  background-color: #2ecec2;
  width: 1.538vw; /* 20px converted to vw */
  height: 1.538vw;
  border-radius: 50%;
  /* margin: -100px 0 0 -220px; Margins converted based on 1300px width */
  pointer-events: none;
  z-index: 10000;
}

::selection {
  color: #fff;
  background: #0f5d56;
}
